:root .grid-stack-item>.ui-resizable-handle {
    filter: none
}

.grid-stack {
    position: relative
}

.grid-stack .grid-stack-placeholder>.placeholder-content {
    margin: 0;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    width: auto;
    z-index: 0 !important
}

.grid-stack>.grid-stack-item {
    min-width: 8.33333333%;
    position: absolute;
    padding: 0
}

.grid-stack>.grid-stack-item>.grid-stack-item-content {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    overflow: hidden !important;
}

.grid-stack>.grid-stack-item>.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none
}

.grid-stack>.grid-stack-item.ui-resizable-disabled>.ui-resizable-handle,
.grid-stack>.grid-stack-item.ui-resizable-autohide>.ui-resizable-handle {
    display: none
}

.grid-stack>.grid-stack-item.ui-draggable-dragging,
.grid-stack>.grid-stack-item.ui-resizable-resizing {
    z-index: 100
}

.grid-stack>.grid-stack-item.ui-draggable-dragging>.grid-stack-item-content,
.grid-stack>.grid-stack-item.ui-draggable-dragging>.grid-stack-item-content,
.grid-stack>.grid-stack-item.ui-resizable-resizing>.grid-stack-item-content,
.grid-stack>.grid-stack-item.ui-resizable-resizing>.grid-stack-item-content {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: .8
}

.grid-stack>.grid-stack-item>.ui-resizable-se,
.grid-stack>.grid-stack-item>.ui-resizable-sw {
    text-align: right;
    color: gray;
    padding: 2px 3px 0 0;
    margin: 0;
    font: normal normal normal 10px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.grid-stack>.grid-stack-item>.ui-resizable-se::before,
.grid-stack>.grid-stack-item>.ui-resizable-sw::before {
    content: "\f065"
}

.grid-stack>.grid-stack-item>.ui-resizable-se {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.grid-stack>.grid-stack-item>.ui-resizable-nw {
    cursor: nw-resize;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 0
}

.grid-stack>.grid-stack-item>.ui-resizable-n {
    cursor: n-resize;
    height: 10px;
    top: 0;
    left: 25px;
    right: 25px
}

.grid-stack>.grid-stack-item>.ui-resizable-ne {
    cursor: ne-resize;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 0
}

.grid-stack>.grid-stack-item>.ui-resizable-e {
    cursor: e-resize;
    width: 10px;
    right: 10px;
    top: 15px;
    bottom: 15px
}

.grid-stack>.grid-stack-item>.ui-resizable-se {
    cursor: se-resize;
    width: 20px;
    height: 20px;
    right: 1px;
    bottom: 0
}

.grid-stack>.grid-stack-item>.ui-resizable-s {
    cursor: s-resize;
    height: 10px;
    left: 25px;
    bottom: 0;
    right: 25px
}

.grid-stack>.grid-stack-item>.ui-resizable-sw {
    cursor: sw-resize;
    width: 20px;
    height: 20px;
    left: 10px;
    bottom: 0
}

.grid-stack>.grid-stack-item>.ui-resizable-w {
    cursor: w-resize;
    width: 10px;
    left: 10px;
    top: 15px;
    bottom: 15px
}


.grid-stack > .grid-stack-item[data-gs-width='1'] {
  width: 0.52083%;
}
.grid-stack > .grid-stack-item[data-gs-x='1'] {
  left: 0.52083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='1'] {
  min-width: 0.52083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='1'] {
  max-width: 0.52083%;
}
.grid-stack > .grid-stack-item[data-gs-width='2'] {
  width: 1.04167%;
}
.grid-stack > .grid-stack-item[data-gs-x='2'] {
  left: 1.04167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='2'] {
  min-width: 1.04167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='2'] {
  max-width: 1.04167%;
}
.grid-stack > .grid-stack-item[data-gs-width='3'] {
  width: 1.5625%;
}
.grid-stack > .grid-stack-item[data-gs-x='3'] {
  left: 1.5625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='3'] {
  min-width: 1.5625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='3'] {
  max-width: 1.5625%;
}
.grid-stack > .grid-stack-item[data-gs-width='4'] {
  width: 2.08333%;
}
.grid-stack > .grid-stack-item[data-gs-x='4'] {
  left: 2.08333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='4'] {
  min-width: 2.08333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='4'] {
  max-width: 2.08333%;
}
.grid-stack > .grid-stack-item[data-gs-width='5'] {
  width: 2.60417%;
}
.grid-stack > .grid-stack-item[data-gs-x='5'] {
  left: 2.60417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='5'] {
  min-width: 2.60417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='5'] {
  max-width: 2.60417%;
}
.grid-stack > .grid-stack-item[data-gs-width='6'] {
  width: 3.125%;
}
.grid-stack > .grid-stack-item[data-gs-x='6'] {
  left: 3.125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='6'] {
  min-width: 3.125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='6'] {
  max-width: 3.125%;
}
.grid-stack > .grid-stack-item[data-gs-width='7'] {
  width: 3.64583%;
}
.grid-stack > .grid-stack-item[data-gs-x='7'] {
  left: 3.64583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='7'] {
  min-width: 3.64583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='7'] {
  max-width: 3.64583%;
}
.grid-stack > .grid-stack-item[data-gs-width='8'] {
  width: 4.16667%;
}
.grid-stack > .grid-stack-item[data-gs-x='8'] {
  left: 4.16667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='8'] {
  min-width: 4.16667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='8'] {
  max-width: 4.16667%;
}
.grid-stack > .grid-stack-item[data-gs-width='9'] {
  width: 4.6875%;
}
.grid-stack > .grid-stack-item[data-gs-x='9'] {
  left: 4.6875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='9'] {
  min-width: 4.6875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='9'] {
  max-width: 4.6875%;
}
.grid-stack > .grid-stack-item[data-gs-width='10'] {
  width: 5.20833%;
}
.grid-stack > .grid-stack-item[data-gs-x='10'] {
  left: 5.20833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='10'] {
  min-width: 5.20833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='10'] {
  max-width: 5.20833%;
}
.grid-stack > .grid-stack-item[data-gs-width='11'] {
  width: 5.72917%;
}
.grid-stack > .grid-stack-item[data-gs-x='11'] {
  left: 5.72917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='11'] {
  min-width: 5.72917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='11'] {
  max-width: 5.72917%;
}
.grid-stack > .grid-stack-item[data-gs-width='12'] {
  width: 6.25%;
}
.grid-stack > .grid-stack-item[data-gs-x='12'] {
  left: 6.25%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='12'] {
  min-width: 6.25%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='12'] {
  max-width: 6.25%;
}
.grid-stack > .grid-stack-item[data-gs-width='13'] {
  width: 6.77083%;
}
.grid-stack > .grid-stack-item[data-gs-x='13'] {
  left: 6.77083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='13'] {
  min-width: 6.77083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='13'] {
  max-width: 6.77083%;
}
.grid-stack > .grid-stack-item[data-gs-width='14'] {
  width: 7.29167%;
}
.grid-stack > .grid-stack-item[data-gs-x='14'] {
  left: 7.29167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='14'] {
  min-width: 7.29167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='14'] {
  max-width: 7.29167%;
}
.grid-stack > .grid-stack-item[data-gs-width='15'] {
  width: 7.8125%;
}
.grid-stack > .grid-stack-item[data-gs-x='15'] {
  left: 7.8125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='15'] {
  min-width: 7.8125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='15'] {
  max-width: 7.8125%;
}
.grid-stack > .grid-stack-item[data-gs-width='16'] {
  width: 8.33333%;
}
.grid-stack > .grid-stack-item[data-gs-x='16'] {
  left: 8.33333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='16'] {
  min-width: 8.33333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='16'] {
  max-width: 8.33333%;
}
.grid-stack > .grid-stack-item[data-gs-width='17'] {
  width: 8.85417%;
}
.grid-stack > .grid-stack-item[data-gs-x='17'] {
  left: 8.85417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='17'] {
  min-width: 8.85417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='17'] {
  max-width: 8.85417%;
}
.grid-stack > .grid-stack-item[data-gs-width='18'] {
  width: 9.375%;
}
.grid-stack > .grid-stack-item[data-gs-x='18'] {
  left: 9.375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='18'] {
  min-width: 9.375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='18'] {
  max-width: 9.375%;
}
.grid-stack > .grid-stack-item[data-gs-width='19'] {
  width: 9.89583%;
}
.grid-stack > .grid-stack-item[data-gs-x='19'] {
  left: 9.89583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='19'] {
  min-width: 9.89583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='19'] {
  max-width: 9.89583%;
}
.grid-stack > .grid-stack-item[data-gs-width='20'] {
  width: 10.41667%;
}
.grid-stack > .grid-stack-item[data-gs-x='20'] {
  left: 10.41667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='20'] {
  min-width: 10.41667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='20'] {
  max-width: 10.41667%;
}
.grid-stack > .grid-stack-item[data-gs-width='21'] {
  width: 10.9375%;
}
.grid-stack > .grid-stack-item[data-gs-x='21'] {
  left: 10.9375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='21'] {
  min-width: 10.9375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='21'] {
  max-width: 10.9375%;
}
.grid-stack > .grid-stack-item[data-gs-width='22'] {
  width: 11.45833%;
}
.grid-stack > .grid-stack-item[data-gs-x='22'] {
  left: 11.45833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='22'] {
  min-width: 11.45833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='22'] {
  max-width: 11.45833%;
}
.grid-stack > .grid-stack-item[data-gs-width='23'] {
  width: 11.97917%;
}
.grid-stack > .grid-stack-item[data-gs-x='23'] {
  left: 11.97917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='23'] {
  min-width: 11.97917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='23'] {
  max-width: 11.97917%;
}
.grid-stack > .grid-stack-item[data-gs-width='24'] {
  width: 12.5%;
}
.grid-stack > .grid-stack-item[data-gs-x='24'] {
  left: 12.5%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='24'] {
  min-width: 12.5%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='24'] {
  max-width: 12.5%;
}
.grid-stack > .grid-stack-item[data-gs-width='25'] {
  width: 13.02083%;
}
.grid-stack > .grid-stack-item[data-gs-x='25'] {
  left: 13.02083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='25'] {
  min-width: 13.02083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='25'] {
  max-width: 13.02083%;
}
.grid-stack > .grid-stack-item[data-gs-width='26'] {
  width: 13.54167%;
}
.grid-stack > .grid-stack-item[data-gs-x='26'] {
  left: 13.54167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='26'] {
  min-width: 13.54167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='26'] {
  max-width: 13.54167%;
}
.grid-stack > .grid-stack-item[data-gs-width='27'] {
  width: 14.0625%;
}
.grid-stack > .grid-stack-item[data-gs-x='27'] {
  left: 14.0625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='27'] {
  min-width: 14.0625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='27'] {
  max-width: 14.0625%;
}
.grid-stack > .grid-stack-item[data-gs-width='28'] {
  width: 14.58333%;
}
.grid-stack > .grid-stack-item[data-gs-x='28'] {
  left: 14.58333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='28'] {
  min-width: 14.58333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='28'] {
  max-width: 14.58333%;
}
.grid-stack > .grid-stack-item[data-gs-width='29'] {
  width: 15.10417%;
}
.grid-stack > .grid-stack-item[data-gs-x='29'] {
  left: 15.10417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='29'] {
  min-width: 15.10417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='29'] {
  max-width: 15.10417%;
}
.grid-stack > .grid-stack-item[data-gs-width='30'] {
  width: 15.625%;
}
.grid-stack > .grid-stack-item[data-gs-x='30'] {
  left: 15.625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='30'] {
  min-width: 15.625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='30'] {
  max-width: 15.625%;
}
.grid-stack > .grid-stack-item[data-gs-width='31'] {
  width: 16.14583%;
}
.grid-stack > .grid-stack-item[data-gs-x='31'] {
  left: 16.14583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='31'] {
  min-width: 16.14583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='31'] {
  max-width: 16.14583%;
}
.grid-stack > .grid-stack-item[data-gs-width='32'] {
  width: 16.66667%;
}
.grid-stack > .grid-stack-item[data-gs-x='32'] {
  left: 16.66667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='32'] {
  min-width: 16.66667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='32'] {
  max-width: 16.66667%;
}
.grid-stack > .grid-stack-item[data-gs-width='33'] {
  width: 17.1875%;
}
.grid-stack > .grid-stack-item[data-gs-x='33'] {
  left: 17.1875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='33'] {
  min-width: 17.1875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='33'] {
  max-width: 17.1875%;
}
.grid-stack > .grid-stack-item[data-gs-width='34'] {
  width: 17.70833%;
}
.grid-stack > .grid-stack-item[data-gs-x='34'] {
  left: 17.70833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='34'] {
  min-width: 17.70833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='34'] {
  max-width: 17.70833%;
}
.grid-stack > .grid-stack-item[data-gs-width='35'] {
  width: 18.22917%;
}
.grid-stack > .grid-stack-item[data-gs-x='35'] {
  left: 18.22917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='35'] {
  min-width: 18.22917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='35'] {
  max-width: 18.22917%;
}
.grid-stack > .grid-stack-item[data-gs-width='36'] {
  width: 18.75%;
}
.grid-stack > .grid-stack-item[data-gs-x='36'] {
  left: 18.75%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='36'] {
  min-width: 18.75%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='36'] {
  max-width: 18.75%;
}
.grid-stack > .grid-stack-item[data-gs-width='37'] {
  width: 19.27083%;
}
.grid-stack > .grid-stack-item[data-gs-x='37'] {
  left: 19.27083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='37'] {
  min-width: 19.27083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='37'] {
  max-width: 19.27083%;
}
.grid-stack > .grid-stack-item[data-gs-width='38'] {
  width: 19.79167%;
}
.grid-stack > .grid-stack-item[data-gs-x='38'] {
  left: 19.79167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='38'] {
  min-width: 19.79167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='38'] {
  max-width: 19.79167%;
}
.grid-stack > .grid-stack-item[data-gs-width='39'] {
  width: 20.3125%;
}
.grid-stack > .grid-stack-item[data-gs-x='39'] {
  left: 20.3125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='39'] {
  min-width: 20.3125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='39'] {
  max-width: 20.3125%;
}
.grid-stack > .grid-stack-item[data-gs-width='40'] {
  width: 20.83333%;
}
.grid-stack > .grid-stack-item[data-gs-x='40'] {
  left: 20.83333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='40'] {
  min-width: 20.83333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='40'] {
  max-width: 20.83333%;
}
.grid-stack > .grid-stack-item[data-gs-width='41'] {
  width: 21.35417%;
}
.grid-stack > .grid-stack-item[data-gs-x='41'] {
  left: 21.35417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='41'] {
  min-width: 21.35417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='41'] {
  max-width: 21.35417%;
}
.grid-stack > .grid-stack-item[data-gs-width='42'] {
  width: 21.875%;
}
.grid-stack > .grid-stack-item[data-gs-x='42'] {
  left: 21.875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='42'] {
  min-width: 21.875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='42'] {
  max-width: 21.875%;
}
.grid-stack > .grid-stack-item[data-gs-width='43'] {
  width: 22.39583%;
}
.grid-stack > .grid-stack-item[data-gs-x='43'] {
  left: 22.39583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='43'] {
  min-width: 22.39583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='43'] {
  max-width: 22.39583%;
}
.grid-stack > .grid-stack-item[data-gs-width='44'] {
  width: 22.91667%;
}
.grid-stack > .grid-stack-item[data-gs-x='44'] {
  left: 22.91667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='44'] {
  min-width: 22.91667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='44'] {
  max-width: 22.91667%;
}
.grid-stack > .grid-stack-item[data-gs-width='45'] {
  width: 23.4375%;
}
.grid-stack > .grid-stack-item[data-gs-x='45'] {
  left: 23.4375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='45'] {
  min-width: 23.4375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='45'] {
  max-width: 23.4375%;
}
.grid-stack > .grid-stack-item[data-gs-width='46'] {
  width: 23.95833%;
}
.grid-stack > .grid-stack-item[data-gs-x='46'] {
  left: 23.95833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='46'] {
  min-width: 23.95833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='46'] {
  max-width: 23.95833%;
}
.grid-stack > .grid-stack-item[data-gs-width='47'] {
  width: 24.47917%;
}
.grid-stack > .grid-stack-item[data-gs-x='47'] {
  left: 24.47917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='47'] {
  min-width: 24.47917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='47'] {
  max-width: 24.47917%;
}
.grid-stack > .grid-stack-item[data-gs-width='48'] {
  width: 25%;
}
.grid-stack > .grid-stack-item[data-gs-x='48'] {
  left: 25%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='48'] {
  min-width: 25%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='48'] {
  max-width: 25%;
}
.grid-stack > .grid-stack-item[data-gs-width='49'] {
  width: 25.52083%;
}
.grid-stack > .grid-stack-item[data-gs-x='49'] {
  left: 25.52083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='49'] {
  min-width: 25.52083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='49'] {
  max-width: 25.52083%;
}
.grid-stack > .grid-stack-item[data-gs-width='50'] {
  width: 26.04167%;
}
.grid-stack > .grid-stack-item[data-gs-x='50'] {
  left: 26.04167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='50'] {
  min-width: 26.04167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='50'] {
  max-width: 26.04167%;
}
.grid-stack > .grid-stack-item[data-gs-width='51'] {
  width: 26.5625%;
}
.grid-stack > .grid-stack-item[data-gs-x='51'] {
  left: 26.5625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='51'] {
  min-width: 26.5625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='51'] {
  max-width: 26.5625%;
}
.grid-stack > .grid-stack-item[data-gs-width='52'] {
  width: 27.08333%;
}
.grid-stack > .grid-stack-item[data-gs-x='52'] {
  left: 27.08333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='52'] {
  min-width: 27.08333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='52'] {
  max-width: 27.08333%;
}
.grid-stack > .grid-stack-item[data-gs-width='53'] {
  width: 27.60417%;
}
.grid-stack > .grid-stack-item[data-gs-x='53'] {
  left: 27.60417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='53'] {
  min-width: 27.60417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='53'] {
  max-width: 27.60417%;
}
.grid-stack > .grid-stack-item[data-gs-width='54'] {
  width: 28.125%;
}
.grid-stack > .grid-stack-item[data-gs-x='54'] {
  left: 28.125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='54'] {
  min-width: 28.125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='54'] {
  max-width: 28.125%;
}
.grid-stack > .grid-stack-item[data-gs-width='55'] {
  width: 28.64583%;
}
.grid-stack > .grid-stack-item[data-gs-x='55'] {
  left: 28.64583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='55'] {
  min-width: 28.64583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='55'] {
  max-width: 28.64583%;
}
.grid-stack > .grid-stack-item[data-gs-width='56'] {
  width: 29.16667%;
}
.grid-stack > .grid-stack-item[data-gs-x='56'] {
  left: 29.16667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='56'] {
  min-width: 29.16667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='56'] {
  max-width: 29.16667%;
}
.grid-stack > .grid-stack-item[data-gs-width='57'] {
  width: 29.6875%;
}
.grid-stack > .grid-stack-item[data-gs-x='57'] {
  left: 29.6875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='57'] {
  min-width: 29.6875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='57'] {
  max-width: 29.6875%;
}
.grid-stack > .grid-stack-item[data-gs-width='58'] {
  width: 30.20833%;
}
.grid-stack > .grid-stack-item[data-gs-x='58'] {
  left: 30.20833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='58'] {
  min-width: 30.20833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='58'] {
  max-width: 30.20833%;
}
.grid-stack > .grid-stack-item[data-gs-width='59'] {
  width: 30.72917%;
}
.grid-stack > .grid-stack-item[data-gs-x='59'] {
  left: 30.72917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='59'] {
  min-width: 30.72917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='59'] {
  max-width: 30.72917%;
}
.grid-stack > .grid-stack-item[data-gs-width='60'] {
  width: 31.25%;
}
.grid-stack > .grid-stack-item[data-gs-x='60'] {
  left: 31.25%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='60'] {
  min-width: 31.25%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='60'] {
  max-width: 31.25%;
}
.grid-stack > .grid-stack-item[data-gs-width='61'] {
  width: 31.77083%;
}
.grid-stack > .grid-stack-item[data-gs-x='61'] {
  left: 31.77083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='61'] {
  min-width: 31.77083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='61'] {
  max-width: 31.77083%;
}
.grid-stack > .grid-stack-item[data-gs-width='62'] {
  width: 32.29167%;
}
.grid-stack > .grid-stack-item[data-gs-x='62'] {
  left: 32.29167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='62'] {
  min-width: 32.29167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='62'] {
  max-width: 32.29167%;
}
.grid-stack > .grid-stack-item[data-gs-width='63'] {
  width: 32.8125%;
}
.grid-stack > .grid-stack-item[data-gs-x='63'] {
  left: 32.8125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='63'] {
  min-width: 32.8125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='63'] {
  max-width: 32.8125%;
}
.grid-stack > .grid-stack-item[data-gs-width='64'] {
  width: 33.33333%;
}
.grid-stack > .grid-stack-item[data-gs-x='64'] {
  left: 33.33333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='64'] {
  min-width: 33.33333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='64'] {
  max-width: 33.33333%;
}
.grid-stack > .grid-stack-item[data-gs-width='65'] {
  width: 33.85417%;
}
.grid-stack > .grid-stack-item[data-gs-x='65'] {
  left: 33.85417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='65'] {
  min-width: 33.85417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='65'] {
  max-width: 33.85417%;
}
.grid-stack > .grid-stack-item[data-gs-width='66'] {
  width: 34.375%;
}
.grid-stack > .grid-stack-item[data-gs-x='66'] {
  left: 34.375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='66'] {
  min-width: 34.375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='66'] {
  max-width: 34.375%;
}
.grid-stack > .grid-stack-item[data-gs-width='67'] {
  width: 34.89583%;
}
.grid-stack > .grid-stack-item[data-gs-x='67'] {
  left: 34.89583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='67'] {
  min-width: 34.89583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='67'] {
  max-width: 34.89583%;
}
.grid-stack > .grid-stack-item[data-gs-width='68'] {
  width: 35.41667%;
}
.grid-stack > .grid-stack-item[data-gs-x='68'] {
  left: 35.41667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='68'] {
  min-width: 35.41667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='68'] {
  max-width: 35.41667%;
}
.grid-stack > .grid-stack-item[data-gs-width='69'] {
  width: 35.9375%;
}
.grid-stack > .grid-stack-item[data-gs-x='69'] {
  left: 35.9375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='69'] {
  min-width: 35.9375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='69'] {
  max-width: 35.9375%;
}
.grid-stack > .grid-stack-item[data-gs-width='70'] {
  width: 36.45833%;
}
.grid-stack > .grid-stack-item[data-gs-x='70'] {
  left: 36.45833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='70'] {
  min-width: 36.45833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='70'] {
  max-width: 36.45833%;
}
.grid-stack > .grid-stack-item[data-gs-width='71'] {
  width: 36.97917%;
}
.grid-stack > .grid-stack-item[data-gs-x='71'] {
  left: 36.97917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='71'] {
  min-width: 36.97917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='71'] {
  max-width: 36.97917%;
}
.grid-stack > .grid-stack-item[data-gs-width='72'] {
  width: 37.5%;
}
.grid-stack > .grid-stack-item[data-gs-x='72'] {
  left: 37.5%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='72'] {
  min-width: 37.5%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='72'] {
  max-width: 37.5%;
}
.grid-stack > .grid-stack-item[data-gs-width='73'] {
  width: 38.02083%;
}
.grid-stack > .grid-stack-item[data-gs-x='73'] {
  left: 38.02083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='73'] {
  min-width: 38.02083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='73'] {
  max-width: 38.02083%;
}
.grid-stack > .grid-stack-item[data-gs-width='74'] {
  width: 38.54167%;
}
.grid-stack > .grid-stack-item[data-gs-x='74'] {
  left: 38.54167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='74'] {
  min-width: 38.54167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='74'] {
  max-width: 38.54167%;
}
.grid-stack > .grid-stack-item[data-gs-width='75'] {
  width: 39.0625%;
}
.grid-stack > .grid-stack-item[data-gs-x='75'] {
  left: 39.0625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='75'] {
  min-width: 39.0625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='75'] {
  max-width: 39.0625%;
}
.grid-stack > .grid-stack-item[data-gs-width='76'] {
  width: 39.58333%;
}
.grid-stack > .grid-stack-item[data-gs-x='76'] {
  left: 39.58333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='76'] {
  min-width: 39.58333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='76'] {
  max-width: 39.58333%;
}
.grid-stack > .grid-stack-item[data-gs-width='77'] {
  width: 40.10417%;
}
.grid-stack > .grid-stack-item[data-gs-x='77'] {
  left: 40.10417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='77'] {
  min-width: 40.10417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='77'] {
  max-width: 40.10417%;
}
.grid-stack > .grid-stack-item[data-gs-width='78'] {
  width: 40.625%;
}
.grid-stack > .grid-stack-item[data-gs-x='78'] {
  left: 40.625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='78'] {
  min-width: 40.625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='78'] {
  max-width: 40.625%;
}
.grid-stack > .grid-stack-item[data-gs-width='79'] {
  width: 41.14583%;
}
.grid-stack > .grid-stack-item[data-gs-x='79'] {
  left: 41.14583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='79'] {
  min-width: 41.14583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='79'] {
  max-width: 41.14583%;
}
.grid-stack > .grid-stack-item[data-gs-width='80'] {
  width: 41.66667%;
}
.grid-stack > .grid-stack-item[data-gs-x='80'] {
  left: 41.66667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='80'] {
  min-width: 41.66667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='80'] {
  max-width: 41.66667%;
}
.grid-stack > .grid-stack-item[data-gs-width='81'] {
  width: 42.1875%;
}
.grid-stack > .grid-stack-item[data-gs-x='81'] {
  left: 42.1875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='81'] {
  min-width: 42.1875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='81'] {
  max-width: 42.1875%;
}
.grid-stack > .grid-stack-item[data-gs-width='82'] {
  width: 42.70833%;
}
.grid-stack > .grid-stack-item[data-gs-x='82'] {
  left: 42.70833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='82'] {
  min-width: 42.70833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='82'] {
  max-width: 42.70833%;
}
.grid-stack > .grid-stack-item[data-gs-width='83'] {
  width: 43.22917%;
}
.grid-stack > .grid-stack-item[data-gs-x='83'] {
  left: 43.22917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='83'] {
  min-width: 43.22917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='83'] {
  max-width: 43.22917%;
}
.grid-stack > .grid-stack-item[data-gs-width='84'] {
  width: 43.75%;
}
.grid-stack > .grid-stack-item[data-gs-x='84'] {
  left: 43.75%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='84'] {
  min-width: 43.75%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='84'] {
  max-width: 43.75%;
}
.grid-stack > .grid-stack-item[data-gs-width='85'] {
  width: 44.27083%;
}
.grid-stack > .grid-stack-item[data-gs-x='85'] {
  left: 44.27083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='85'] {
  min-width: 44.27083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='85'] {
  max-width: 44.27083%;
}
.grid-stack > .grid-stack-item[data-gs-width='86'] {
  width: 44.79167%;
}
.grid-stack > .grid-stack-item[data-gs-x='86'] {
  left: 44.79167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='86'] {
  min-width: 44.79167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='86'] {
  max-width: 44.79167%;
}
.grid-stack > .grid-stack-item[data-gs-width='87'] {
  width: 45.3125%;
}
.grid-stack > .grid-stack-item[data-gs-x='87'] {
  left: 45.3125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='87'] {
  min-width: 45.3125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='87'] {
  max-width: 45.3125%;
}
.grid-stack > .grid-stack-item[data-gs-width='88'] {
  width: 45.83333%;
}
.grid-stack > .grid-stack-item[data-gs-x='88'] {
  left: 45.83333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='88'] {
  min-width: 45.83333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='88'] {
  max-width: 45.83333%;
}
.grid-stack > .grid-stack-item[data-gs-width='89'] {
  width: 46.35417%;
}
.grid-stack > .grid-stack-item[data-gs-x='89'] {
  left: 46.35417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='89'] {
  min-width: 46.35417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='89'] {
  max-width: 46.35417%;
}
.grid-stack > .grid-stack-item[data-gs-width='90'] {
  width: 46.875%;
}
.grid-stack > .grid-stack-item[data-gs-x='90'] {
  left: 46.875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='90'] {
  min-width: 46.875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='90'] {
  max-width: 46.875%;
}
.grid-stack > .grid-stack-item[data-gs-width='91'] {
  width: 47.39583%;
}
.grid-stack > .grid-stack-item[data-gs-x='91'] {
  left: 47.39583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='91'] {
  min-width: 47.39583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='91'] {
  max-width: 47.39583%;
}
.grid-stack > .grid-stack-item[data-gs-width='92'] {
  width: 47.91667%;
}
.grid-stack > .grid-stack-item[data-gs-x='92'] {
  left: 47.91667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='92'] {
  min-width: 47.91667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='92'] {
  max-width: 47.91667%;
}
.grid-stack > .grid-stack-item[data-gs-width='93'] {
  width: 48.4375%;
}
.grid-stack > .grid-stack-item[data-gs-x='93'] {
  left: 48.4375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='93'] {
  min-width: 48.4375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='93'] {
  max-width: 48.4375%;
}
.grid-stack > .grid-stack-item[data-gs-width='94'] {
  width: 48.95833%;
}
.grid-stack > .grid-stack-item[data-gs-x='94'] {
  left: 48.95833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='94'] {
  min-width: 48.95833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='94'] {
  max-width: 48.95833%;
}
.grid-stack > .grid-stack-item[data-gs-width='95'] {
  width: 49.47917%;
}
.grid-stack > .grid-stack-item[data-gs-x='95'] {
  left: 49.47917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='95'] {
  min-width: 49.47917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='95'] {
  max-width: 49.47917%;
}
.grid-stack > .grid-stack-item[data-gs-width='96'] {
  width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-x='96'] {
  left: 50%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='96'] {
  min-width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='96'] {
  max-width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-width='97'] {
  width: 50.52083%;
}
.grid-stack > .grid-stack-item[data-gs-x='97'] {
  left: 50.52083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='97'] {
  min-width: 50.52083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='97'] {
  max-width: 50.52083%;
}
.grid-stack > .grid-stack-item[data-gs-width='98'] {
  width: 51.04167%;
}
.grid-stack > .grid-stack-item[data-gs-x='98'] {
  left: 51.04167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='98'] {
  min-width: 51.04167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='98'] {
  max-width: 51.04167%;
}
.grid-stack > .grid-stack-item[data-gs-width='99'] {
  width: 51.5625%;
}
.grid-stack > .grid-stack-item[data-gs-x='99'] {
  left: 51.5625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='99'] {
  min-width: 51.5625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='99'] {
  max-width: 51.5625%;
}
.grid-stack > .grid-stack-item[data-gs-width='100'] {
  width: 52.08333%;
}
.grid-stack > .grid-stack-item[data-gs-x='100'] {
  left: 52.08333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='100'] {
  min-width: 52.08333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='100'] {
  max-width: 52.08333%;
}
.grid-stack > .grid-stack-item[data-gs-width='101'] {
  width: 52.60417%;
}
.grid-stack > .grid-stack-item[data-gs-x='101'] {
  left: 52.60417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='101'] {
  min-width: 52.60417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='101'] {
  max-width: 52.60417%;
}
.grid-stack > .grid-stack-item[data-gs-width='102'] {
  width: 53.125%;
}
.grid-stack > .grid-stack-item[data-gs-x='102'] {
  left: 53.125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='102'] {
  min-width: 53.125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='102'] {
  max-width: 53.125%;
}
.grid-stack > .grid-stack-item[data-gs-width='103'] {
  width: 53.64583%;
}
.grid-stack > .grid-stack-item[data-gs-x='103'] {
  left: 53.64583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='103'] {
  min-width: 53.64583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='103'] {
  max-width: 53.64583%;
}
.grid-stack > .grid-stack-item[data-gs-width='104'] {
  width: 54.16667%;
}
.grid-stack > .grid-stack-item[data-gs-x='104'] {
  left: 54.16667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='104'] {
  min-width: 54.16667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='104'] {
  max-width: 54.16667%;
}
.grid-stack > .grid-stack-item[data-gs-width='105'] {
  width: 54.6875%;
}
.grid-stack > .grid-stack-item[data-gs-x='105'] {
  left: 54.6875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='105'] {
  min-width: 54.6875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='105'] {
  max-width: 54.6875%;
}
.grid-stack > .grid-stack-item[data-gs-width='106'] {
  width: 55.20833%;
}
.grid-stack > .grid-stack-item[data-gs-x='106'] {
  left: 55.20833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='106'] {
  min-width: 55.20833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='106'] {
  max-width: 55.20833%;
}
.grid-stack > .grid-stack-item[data-gs-width='107'] {
  width: 55.72917%;
}
.grid-stack > .grid-stack-item[data-gs-x='107'] {
  left: 55.72917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='107'] {
  min-width: 55.72917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='107'] {
  max-width: 55.72917%;
}
.grid-stack > .grid-stack-item[data-gs-width='108'] {
  width: 56.25%;
}
.grid-stack > .grid-stack-item[data-gs-x='108'] {
  left: 56.25%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='108'] {
  min-width: 56.25%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='108'] {
  max-width: 56.25%;
}
.grid-stack > .grid-stack-item[data-gs-width='109'] {
  width: 56.77083%;
}
.grid-stack > .grid-stack-item[data-gs-x='109'] {
  left: 56.77083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='109'] {
  min-width: 56.77083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='109'] {
  max-width: 56.77083%;
}
.grid-stack > .grid-stack-item[data-gs-width='110'] {
  width: 57.29167%;
}
.grid-stack > .grid-stack-item[data-gs-x='110'] {
  left: 57.29167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='110'] {
  min-width: 57.29167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='110'] {
  max-width: 57.29167%;
}
.grid-stack > .grid-stack-item[data-gs-width='111'] {
  width: 57.8125%;
}
.grid-stack > .grid-stack-item[data-gs-x='111'] {
  left: 57.8125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='111'] {
  min-width: 57.8125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='111'] {
  max-width: 57.8125%;
}
.grid-stack > .grid-stack-item[data-gs-width='112'] {
  width: 58.33333%;
}
.grid-stack > .grid-stack-item[data-gs-x='112'] {
  left: 58.33333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='112'] {
  min-width: 58.33333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='112'] {
  max-width: 58.33333%;
}
.grid-stack > .grid-stack-item[data-gs-width='113'] {
  width: 58.85417%;
}
.grid-stack > .grid-stack-item[data-gs-x='113'] {
  left: 58.85417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='113'] {
  min-width: 58.85417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='113'] {
  max-width: 58.85417%;
}
.grid-stack > .grid-stack-item[data-gs-width='114'] {
  width: 59.375%;
}
.grid-stack > .grid-stack-item[data-gs-x='114'] {
  left: 59.375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='114'] {
  min-width: 59.375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='114'] {
  max-width: 59.375%;
}
.grid-stack > .grid-stack-item[data-gs-width='115'] {
  width: 59.89583%;
}
.grid-stack > .grid-stack-item[data-gs-x='115'] {
  left: 59.89583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='115'] {
  min-width: 59.89583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='115'] {
  max-width: 59.89583%;
}
.grid-stack > .grid-stack-item[data-gs-width='116'] {
  width: 60.41667%;
}
.grid-stack > .grid-stack-item[data-gs-x='116'] {
  left: 60.41667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='116'] {
  min-width: 60.41667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='116'] {
  max-width: 60.41667%;
}
.grid-stack > .grid-stack-item[data-gs-width='117'] {
  width: 60.9375%;
}
.grid-stack > .grid-stack-item[data-gs-x='117'] {
  left: 60.9375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='117'] {
  min-width: 60.9375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='117'] {
  max-width: 60.9375%;
}
.grid-stack > .grid-stack-item[data-gs-width='118'] {
  width: 61.45833%;
}
.grid-stack > .grid-stack-item[data-gs-x='118'] {
  left: 61.45833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='118'] {
  min-width: 61.45833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='118'] {
  max-width: 61.45833%;
}
.grid-stack > .grid-stack-item[data-gs-width='119'] {
  width: 61.97917%;
}
.grid-stack > .grid-stack-item[data-gs-x='119'] {
  left: 61.97917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='119'] {
  min-width: 61.97917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='119'] {
  max-width: 61.97917%;
}
.grid-stack > .grid-stack-item[data-gs-width='120'] {
  width: 62.5%;
}
.grid-stack > .grid-stack-item[data-gs-x='120'] {
  left: 62.5%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='120'] {
  min-width: 62.5%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='120'] {
  max-width: 62.5%;
}
.grid-stack > .grid-stack-item[data-gs-width='121'] {
  width: 63.02083%;
}
.grid-stack > .grid-stack-item[data-gs-x='121'] {
  left: 63.02083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='121'] {
  min-width: 63.02083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='121'] {
  max-width: 63.02083%;
}
.grid-stack > .grid-stack-item[data-gs-width='122'] {
  width: 63.54167%;
}
.grid-stack > .grid-stack-item[data-gs-x='122'] {
  left: 63.54167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='122'] {
  min-width: 63.54167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='122'] {
  max-width: 63.54167%;
}
.grid-stack > .grid-stack-item[data-gs-width='123'] {
  width: 64.0625%;
}
.grid-stack > .grid-stack-item[data-gs-x='123'] {
  left: 64.0625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='123'] {
  min-width: 64.0625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='123'] {
  max-width: 64.0625%;
}
.grid-stack > .grid-stack-item[data-gs-width='124'] {
  width: 64.58333%;
}
.grid-stack > .grid-stack-item[data-gs-x='124'] {
  left: 64.58333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='124'] {
  min-width: 64.58333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='124'] {
  max-width: 64.58333%;
}
.grid-stack > .grid-stack-item[data-gs-width='125'] {
  width: 65.10417%;
}
.grid-stack > .grid-stack-item[data-gs-x='125'] {
  left: 65.10417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='125'] {
  min-width: 65.10417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='125'] {
  max-width: 65.10417%;
}
.grid-stack > .grid-stack-item[data-gs-width='126'] {
  width: 65.625%;
}
.grid-stack > .grid-stack-item[data-gs-x='126'] {
  left: 65.625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='126'] {
  min-width: 65.625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='126'] {
  max-width: 65.625%;
}
.grid-stack > .grid-stack-item[data-gs-width='127'] {
  width: 66.14583%;
}
.grid-stack > .grid-stack-item[data-gs-x='127'] {
  left: 66.14583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='127'] {
  min-width: 66.14583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='127'] {
  max-width: 66.14583%;
}
.grid-stack > .grid-stack-item[data-gs-width='128'] {
  width: 66.66667%;
}
.grid-stack > .grid-stack-item[data-gs-x='128'] {
  left: 66.66667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='128'] {
  min-width: 66.66667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='128'] {
  max-width: 66.66667%;
}
.grid-stack > .grid-stack-item[data-gs-width='129'] {
  width: 67.1875%;
}
.grid-stack > .grid-stack-item[data-gs-x='129'] {
  left: 67.1875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='129'] {
  min-width: 67.1875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='129'] {
  max-width: 67.1875%;
}
.grid-stack > .grid-stack-item[data-gs-width='130'] {
  width: 67.70833%;
}
.grid-stack > .grid-stack-item[data-gs-x='130'] {
  left: 67.70833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='130'] {
  min-width: 67.70833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='130'] {
  max-width: 67.70833%;
}
.grid-stack > .grid-stack-item[data-gs-width='131'] {
  width: 68.22917%;
}
.grid-stack > .grid-stack-item[data-gs-x='131'] {
  left: 68.22917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='131'] {
  min-width: 68.22917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='131'] {
  max-width: 68.22917%;
}
.grid-stack > .grid-stack-item[data-gs-width='132'] {
  width: 68.75%;
}
.grid-stack > .grid-stack-item[data-gs-x='132'] {
  left: 68.75%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='132'] {
  min-width: 68.75%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='132'] {
  max-width: 68.75%;
}
.grid-stack > .grid-stack-item[data-gs-width='133'] {
  width: 69.27083%;
}
.grid-stack > .grid-stack-item[data-gs-x='133'] {
  left: 69.27083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='133'] {
  min-width: 69.27083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='133'] {
  max-width: 69.27083%;
}
.grid-stack > .grid-stack-item[data-gs-width='134'] {
  width: 69.79167%;
}
.grid-stack > .grid-stack-item[data-gs-x='134'] {
  left: 69.79167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='134'] {
  min-width: 69.79167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='134'] {
  max-width: 69.79167%;
}
.grid-stack > .grid-stack-item[data-gs-width='135'] {
  width: 70.3125%;
}
.grid-stack > .grid-stack-item[data-gs-x='135'] {
  left: 70.3125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='135'] {
  min-width: 70.3125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='135'] {
  max-width: 70.3125%;
}
.grid-stack > .grid-stack-item[data-gs-width='136'] {
  width: 70.83333%;
}
.grid-stack > .grid-stack-item[data-gs-x='136'] {
  left: 70.83333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='136'] {
  min-width: 70.83333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='136'] {
  max-width: 70.83333%;
}
.grid-stack > .grid-stack-item[data-gs-width='137'] {
  width: 71.35417%;
}
.grid-stack > .grid-stack-item[data-gs-x='137'] {
  left: 71.35417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='137'] {
  min-width: 71.35417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='137'] {
  max-width: 71.35417%;
}
.grid-stack > .grid-stack-item[data-gs-width='138'] {
  width: 71.875%;
}
.grid-stack > .grid-stack-item[data-gs-x='138'] {
  left: 71.875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='138'] {
  min-width: 71.875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='138'] {
  max-width: 71.875%;
}
.grid-stack > .grid-stack-item[data-gs-width='139'] {
  width: 72.39583%;
}
.grid-stack > .grid-stack-item[data-gs-x='139'] {
  left: 72.39583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='139'] {
  min-width: 72.39583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='139'] {
  max-width: 72.39583%;
}
.grid-stack > .grid-stack-item[data-gs-width='140'] {
  width: 72.91667%;
}
.grid-stack > .grid-stack-item[data-gs-x='140'] {
  left: 72.91667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='140'] {
  min-width: 72.91667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='140'] {
  max-width: 72.91667%;
}
.grid-stack > .grid-stack-item[data-gs-width='141'] {
  width: 73.4375%;
}
.grid-stack > .grid-stack-item[data-gs-x='141'] {
  left: 73.4375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='141'] {
  min-width: 73.4375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='141'] {
  max-width: 73.4375%;
}
.grid-stack > .grid-stack-item[data-gs-width='142'] {
  width: 73.95833%;
}
.grid-stack > .grid-stack-item[data-gs-x='142'] {
  left: 73.95833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='142'] {
  min-width: 73.95833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='142'] {
  max-width: 73.95833%;
}
.grid-stack > .grid-stack-item[data-gs-width='143'] {
  width: 74.47917%;
}
.grid-stack > .grid-stack-item[data-gs-x='143'] {
  left: 74.47917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='143'] {
  min-width: 74.47917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='143'] {
  max-width: 74.47917%;
}
.grid-stack > .grid-stack-item[data-gs-width='144'] {
  width: 75%;
}
.grid-stack > .grid-stack-item[data-gs-x='144'] {
  left: 75%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='144'] {
  min-width: 75%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='144'] {
  max-width: 75%;
}
.grid-stack > .grid-stack-item[data-gs-width='145'] {
  width: 75.52083%;
}
.grid-stack > .grid-stack-item[data-gs-x='145'] {
  left: 75.52083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='145'] {
  min-width: 75.52083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='145'] {
  max-width: 75.52083%;
}
.grid-stack > .grid-stack-item[data-gs-width='146'] {
  width: 76.04167%;
}
.grid-stack > .grid-stack-item[data-gs-x='146'] {
  left: 76.04167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='146'] {
  min-width: 76.04167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='146'] {
  max-width: 76.04167%;
}
.grid-stack > .grid-stack-item[data-gs-width='147'] {
  width: 76.5625%;
}
.grid-stack > .grid-stack-item[data-gs-x='147'] {
  left: 76.5625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='147'] {
  min-width: 76.5625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='147'] {
  max-width: 76.5625%;
}
.grid-stack > .grid-stack-item[data-gs-width='148'] {
  width: 77.08333%;
}
.grid-stack > .grid-stack-item[data-gs-x='148'] {
  left: 77.08333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='148'] {
  min-width: 77.08333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='148'] {
  max-width: 77.08333%;
}
.grid-stack > .grid-stack-item[data-gs-width='149'] {
  width: 77.60417%;
}
.grid-stack > .grid-stack-item[data-gs-x='149'] {
  left: 77.60417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='149'] {
  min-width: 77.60417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='149'] {
  max-width: 77.60417%;
}
.grid-stack > .grid-stack-item[data-gs-width='150'] {
  width: 78.125%;
}
.grid-stack > .grid-stack-item[data-gs-x='150'] {
  left: 78.125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='150'] {
  min-width: 78.125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='150'] {
  max-width: 78.125%;
}
.grid-stack > .grid-stack-item[data-gs-width='151'] {
  width: 78.64583%;
}
.grid-stack > .grid-stack-item[data-gs-x='151'] {
  left: 78.64583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='151'] {
  min-width: 78.64583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='151'] {
  max-width: 78.64583%;
}
.grid-stack > .grid-stack-item[data-gs-width='152'] {
  width: 79.16667%;
}
.grid-stack > .grid-stack-item[data-gs-x='152'] {
  left: 79.16667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='152'] {
  min-width: 79.16667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='152'] {
  max-width: 79.16667%;
}
.grid-stack > .grid-stack-item[data-gs-width='153'] {
  width: 79.6875%;
}
.grid-stack > .grid-stack-item[data-gs-x='153'] {
  left: 79.6875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='153'] {
  min-width: 79.6875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='153'] {
  max-width: 79.6875%;
}
.grid-stack > .grid-stack-item[data-gs-width='154'] {
  width: 80.20833%;
}
.grid-stack > .grid-stack-item[data-gs-x='154'] {
  left: 80.20833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='154'] {
  min-width: 80.20833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='154'] {
  max-width: 80.20833%;
}
.grid-stack > .grid-stack-item[data-gs-width='155'] {
  width: 80.72917%;
}
.grid-stack > .grid-stack-item[data-gs-x='155'] {
  left: 80.72917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='155'] {
  min-width: 80.72917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='155'] {
  max-width: 80.72917%;
}
.grid-stack > .grid-stack-item[data-gs-width='156'] {
  width: 81.25%;
}
.grid-stack > .grid-stack-item[data-gs-x='156'] {
  left: 81.25%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='156'] {
  min-width: 81.25%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='156'] {
  max-width: 81.25%;
}
.grid-stack > .grid-stack-item[data-gs-width='157'] {
  width: 81.77083%;
}
.grid-stack > .grid-stack-item[data-gs-x='157'] {
  left: 81.77083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='157'] {
  min-width: 81.77083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='157'] {
  max-width: 81.77083%;
}
.grid-stack > .grid-stack-item[data-gs-width='158'] {
  width: 82.29167%;
}
.grid-stack > .grid-stack-item[data-gs-x='158'] {
  left: 82.29167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='158'] {
  min-width: 82.29167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='158'] {
  max-width: 82.29167%;
}
.grid-stack > .grid-stack-item[data-gs-width='159'] {
  width: 82.8125%;
}
.grid-stack > .grid-stack-item[data-gs-x='159'] {
  left: 82.8125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='159'] {
  min-width: 82.8125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='159'] {
  max-width: 82.8125%;
}
.grid-stack > .grid-stack-item[data-gs-width='160'] {
  width: 83.33333%;
}
.grid-stack > .grid-stack-item[data-gs-x='160'] {
  left: 83.33333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='160'] {
  min-width: 83.33333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='160'] {
  max-width: 83.33333%;
}
.grid-stack > .grid-stack-item[data-gs-width='161'] {
  width: 83.85417%;
}
.grid-stack > .grid-stack-item[data-gs-x='161'] {
  left: 83.85417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='161'] {
  min-width: 83.85417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='161'] {
  max-width: 83.85417%;
}
.grid-stack > .grid-stack-item[data-gs-width='162'] {
  width: 84.375%;
}
.grid-stack > .grid-stack-item[data-gs-x='162'] {
  left: 84.375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='162'] {
  min-width: 84.375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='162'] {
  max-width: 84.375%;
}
.grid-stack > .grid-stack-item[data-gs-width='163'] {
  width: 84.89583%;
}
.grid-stack > .grid-stack-item[data-gs-x='163'] {
  left: 84.89583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='163'] {
  min-width: 84.89583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='163'] {
  max-width: 84.89583%;
}
.grid-stack > .grid-stack-item[data-gs-width='164'] {
  width: 85.41667%;
}
.grid-stack > .grid-stack-item[data-gs-x='164'] {
  left: 85.41667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='164'] {
  min-width: 85.41667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='164'] {
  max-width: 85.41667%;
}
.grid-stack > .grid-stack-item[data-gs-width='165'] {
  width: 85.9375%;
}
.grid-stack > .grid-stack-item[data-gs-x='165'] {
  left: 85.9375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='165'] {
  min-width: 85.9375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='165'] {
  max-width: 85.9375%;
}
.grid-stack > .grid-stack-item[data-gs-width='166'] {
  width: 86.45833%;
}
.grid-stack > .grid-stack-item[data-gs-x='166'] {
  left: 86.45833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='166'] {
  min-width: 86.45833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='166'] {
  max-width: 86.45833%;
}
.grid-stack > .grid-stack-item[data-gs-width='167'] {
  width: 86.97917%;
}
.grid-stack > .grid-stack-item[data-gs-x='167'] {
  left: 86.97917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='167'] {
  min-width: 86.97917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='167'] {
  max-width: 86.97917%;
}
.grid-stack > .grid-stack-item[data-gs-width='168'] {
  width: 87.5%;
}
.grid-stack > .grid-stack-item[data-gs-x='168'] {
  left: 87.5%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='168'] {
  min-width: 87.5%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='168'] {
  max-width: 87.5%;
}
.grid-stack > .grid-stack-item[data-gs-width='169'] {
  width: 88.02083%;
}
.grid-stack > .grid-stack-item[data-gs-x='169'] {
  left: 88.02083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='169'] {
  min-width: 88.02083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='169'] {
  max-width: 88.02083%;
}
.grid-stack > .grid-stack-item[data-gs-width='170'] {
  width: 88.54167%;
}
.grid-stack > .grid-stack-item[data-gs-x='170'] {
  left: 88.54167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='170'] {
  min-width: 88.54167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='170'] {
  max-width: 88.54167%;
}
.grid-stack > .grid-stack-item[data-gs-width='171'] {
  width: 89.0625%;
}
.grid-stack > .grid-stack-item[data-gs-x='171'] {
  left: 89.0625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='171'] {
  min-width: 89.0625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='171'] {
  max-width: 89.0625%;
}
.grid-stack > .grid-stack-item[data-gs-width='172'] {
  width: 89.58333%;
}
.grid-stack > .grid-stack-item[data-gs-x='172'] {
  left: 89.58333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='172'] {
  min-width: 89.58333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='172'] {
  max-width: 89.58333%;
}
.grid-stack > .grid-stack-item[data-gs-width='173'] {
  width: 90.10417%;
}
.grid-stack > .grid-stack-item[data-gs-x='173'] {
  left: 90.10417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='173'] {
  min-width: 90.10417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='173'] {
  max-width: 90.10417%;
}
.grid-stack > .grid-stack-item[data-gs-width='174'] {
  width: 90.625%;
}
.grid-stack > .grid-stack-item[data-gs-x='174'] {
  left: 90.625%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='174'] {
  min-width: 90.625%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='174'] {
  max-width: 90.625%;
}
.grid-stack > .grid-stack-item[data-gs-width='175'] {
  width: 91.14583%;
}
.grid-stack > .grid-stack-item[data-gs-x='175'] {
  left: 91.14583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='175'] {
  min-width: 91.14583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='175'] {
  max-width: 91.14583%;
}
.grid-stack > .grid-stack-item[data-gs-width='176'] {
  width: 91.66667%;
}
.grid-stack > .grid-stack-item[data-gs-x='176'] {
  left: 91.66667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='176'] {
  min-width: 91.66667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='176'] {
  max-width: 91.66667%;
}
.grid-stack > .grid-stack-item[data-gs-width='177'] {
  width: 92.1875%;
}
.grid-stack > .grid-stack-item[data-gs-x='177'] {
  left: 92.1875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='177'] {
  min-width: 92.1875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='177'] {
  max-width: 92.1875%;
}
.grid-stack > .grid-stack-item[data-gs-width='178'] {
  width: 92.70833%;
}
.grid-stack > .grid-stack-item[data-gs-x='178'] {
  left: 92.70833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='178'] {
  min-width: 92.70833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='178'] {
  max-width: 92.70833%;
}
.grid-stack > .grid-stack-item[data-gs-width='179'] {
  width: 93.22917%;
}
.grid-stack > .grid-stack-item[data-gs-x='179'] {
  left: 93.22917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='179'] {
  min-width: 93.22917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='179'] {
  max-width: 93.22917%;
}
.grid-stack > .grid-stack-item[data-gs-width='180'] {
  width: 93.75%;
}
.grid-stack > .grid-stack-item[data-gs-x='180'] {
  left: 93.75%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='180'] {
  min-width: 93.75%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='180'] {
  max-width: 93.75%;
}
.grid-stack > .grid-stack-item[data-gs-width='181'] {
  width: 94.27083%;
}
.grid-stack > .grid-stack-item[data-gs-x='181'] {
  left: 94.27083%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='181'] {
  min-width: 94.27083%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='181'] {
  max-width: 94.27083%;
}
.grid-stack > .grid-stack-item[data-gs-width='182'] {
  width: 94.79167%;
}
.grid-stack > .grid-stack-item[data-gs-x='182'] {
  left: 94.79167%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='182'] {
  min-width: 94.79167%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='182'] {
  max-width: 94.79167%;
}
.grid-stack > .grid-stack-item[data-gs-width='183'] {
  width: 95.3125%;
}
.grid-stack > .grid-stack-item[data-gs-x='183'] {
  left: 95.3125%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='183'] {
  min-width: 95.3125%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='183'] {
  max-width: 95.3125%;
}
.grid-stack > .grid-stack-item[data-gs-width='184'] {
  width: 95.83333%;
}
.grid-stack > .grid-stack-item[data-gs-x='184'] {
  left: 95.83333%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='184'] {
  min-width: 95.83333%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='184'] {
  max-width: 95.83333%;
}
.grid-stack > .grid-stack-item[data-gs-width='185'] {
  width: 96.35417%;
}
.grid-stack > .grid-stack-item[data-gs-x='185'] {
  left: 96.35417%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='185'] {
  min-width: 96.35417%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='185'] {
  max-width: 96.35417%;
}
.grid-stack > .grid-stack-item[data-gs-width='186'] {
  width: 96.875%;
}
.grid-stack > .grid-stack-item[data-gs-x='186'] {
  left: 96.875%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='186'] {
  min-width: 96.875%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='186'] {
  max-width: 96.875%;
}
.grid-stack > .grid-stack-item[data-gs-width='187'] {
  width: 97.39583%;
}
.grid-stack > .grid-stack-item[data-gs-x='187'] {
  left: 97.39583%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='187'] {
  min-width: 97.39583%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='187'] {
  max-width: 97.39583%;
}
.grid-stack > .grid-stack-item[data-gs-width='188'] {
  width: 97.91667%;
}
.grid-stack > .grid-stack-item[data-gs-x='188'] {
  left: 97.91667%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='188'] {
  min-width: 97.91667%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='188'] {
  max-width: 97.91667%;
}
.grid-stack > .grid-stack-item[data-gs-width='189'] {
  width: 98.4375%;
}
.grid-stack > .grid-stack-item[data-gs-x='189'] {
  left: 98.4375%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='189'] {
  min-width: 98.4375%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='189'] {
  max-width: 98.4375%;
}
.grid-stack > .grid-stack-item[data-gs-width='190'] {
  width: 98.95833%;
}
.grid-stack > .grid-stack-item[data-gs-x='190'] {
  left: 98.95833%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='190'] {
  min-width: 98.95833%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='190'] {
  max-width: 98.95833%;
}
.grid-stack > .grid-stack-item[data-gs-width='191'] {
  width: 99.47917%;
}
.grid-stack > .grid-stack-item[data-gs-x='191'] {
  left: 99.47917%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='191'] {
  min-width: 99.47917%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='191'] {
  max-width: 99.47917%;
}
.grid-stack > .grid-stack-item[data-gs-width='192'] {
  width: 100%;
}
.grid-stack > .grid-stack-item[data-gs-x='192'] {
  left: 100%;
}
.grid-stack > .grid-stack-item[data-gs-min-width='192'] {
  min-width: 100%;
}
.grid-stack > .grid-stack-item[data-gs-max-width='192'] {
  max-width: 100%;
}


.grid-stack.grid-stack-animate,
.grid-stack.grid-stack-animate .grid-stack-item {
    -webkit-transition: left .3s, top .3s, height .3s, width .3s;
    -moz-transition: left .3s, top .3s, height .3s, width .3s;
    -ms-transition: left .3s, top .3s, height .3s, width .3s;
    -o-transition: left .3s, top .3s, height .3s, width .3s;
    transition: left .3s, top .3s, height .3s, width .3s
}

.grid-stack.grid-stack-animate .grid-stack-item.ui-draggable-dragging,
.grid-stack.grid-stack-animate .grid-stack-item.ui-resizable-resizing,
.grid-stack.grid-stack-animate .grid-stack-item.grid-stack-placeholder {
    -webkit-transition: left 0, top 0, height 0, width 0;
    -moz-transition: left 0, top 0, height 0, width 0;
    -ms-transition: left 0, top 0, height 0, width 0;
    -o-transition: left 0, top 0, height 0, width 0;
    transition: left 0, top 0, height 0, width 0
}

.del-btn {
    position: absolute;
    padding: 7px;
    display: none;
    right: 1px;
    z-index: 90;
    color: red;
    background-color: #696969;
    border-left: 1px dotted #fff
}

.grid-stack>.grid-stack-item:hover>.comp-set-btn {
    display: block
}

.comp-set-btn {
    position: absolute;
    padding: 7px;
    display: none;
    right: 2em;
    z-index: 90;
    color: #fff;
    background-color: #696969;
    border-left: 1px dotted #fff
}

.grid-stack>.grid-stack-item:hover>.edit-btn,
.grid-stack>.grid-stack-item:hover>.img-set-btn,
{
    display: block
}

.edit-btn {
    position: absolute;
    padding: 7px;
    display: none;
    right: 4em;
    z-index: 90;
    color: #fff;
    background-color: #696969
}

.img-set-btn {
    position: absolute;
    padding: 7px;
    display: none;
    right: 4em;
    z-index: 90;
    color: #fff;
    background-color: #696969
}

@media(max-width:768px) {
    .grid-stack>.grid-stack-item>.grid-stack-item-content {
        position: static;
    }
    div.gridaddimg .diy-img-wrapper-content {
        top: 0 !important;
        left: initial !important;
        right: initial !important;
    }
    .grid-stack-item {
        position: relative !important;
        width: auto !important;
        left: 0 !important;
        /*top:auto !important;*/
        -webkit-box-ordinal-group: 51;
        -moz-box-ordinal-group: 51;
        box-ordinal-group: 51;
    }
    .grid-stack-item .ui-resizable-handle {
        display: none !important;
    }
    .grid-stack {
        height: auto !important
    }
}

.grid-stack>.grid-stack-item:hover>.edit-form {
    display: block
}

.edit-form {
    position: absolute;
    padding: 7px;
    display: none;
    right: 4em;
    z-index: 90;
    color: #fff;
    background-color: #696969
}

.grid-stack>.grid-stack-item:hover>.form-set-btn {
    display: block
}

.form-set-btn {
    position: absolute;
    padding: 7px;
    display: none;
    right: 2em;
    z-index: 90;
    color: #fff;
    background-color: #696969;
    border-left: 1px dotted #fff
}

div.grid-stack-item.ui-draggable.ui-resizable.ui-draggable-dragging::before {
    content: attr(data-content);
    position: relative;
    top: -30px;
    background-color: #f60;
    padding: 5px;
    color: #fff
}

.gridaddimg div.ui-resizable-handle.ui-resizable-ne {
    top: -4px;
    left: auto;
    right: -4px;
    bottom: auto;
    cursor: ne-resize
}

.gridaddimg div.ui-resizable-handle.ui-resizable-se {
    top: auto;
    left: auto;
    right: -4px;
    bottom: -4px;
    cursor: se-resize
}

.gridaddimg div.ui-resizable-handle.ui-resizable-sw {
    top: auto;
    left: -4px;
    right: auto;
    bottom: -4px;
    cursor: sw-resize
}

.gridaddimg div.ui-resizable-handle.ui-resizable-nw {
    top: -4px;
    left: -4px;
    right: auto;
    bottom: auto;
    cursor: nw-resize
}

.gridaddimg img.img-responsive {
    z-index: 1;
    position: relative;
    margin: auto;
    overflow: auto;
    width: 100%
}

div.gridaddimg .diy-img-wrapper-content {
    display: inline-block;
    position: relative;
    max-width: 100% !important;
    text-align: center;
    padding: 0;
    line-height: 0;
    overflow: visible;
    z-index: 2;
    border: 0;
    outline: 0;
    outline-color: transparent;
    border-color: transparent
}

.img-align-right {
    text-align: right !important
}

.img-align-left {
    text-align: left !important
}

.img-align-center {
    text-align: center !important
}
@media (min-width: 768px) and (max-width: 1024px) {
  
  #uibtn{
	width: auto !important;
    margin: auto;
  }
   #uibtn button {
	   margin: auto ;
	   width: auto !important;
   }
  form.slpjsgenerateform {
	width: 53%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
   #uibtn{
	width: auto !important;
    margin: auto;
  }
   #uibtn button {
	   margin: auto ;
	   width: auto !important;
   }
 form.slpjsgenerateform {
	width: 53%;
    margin: auto;
  }
  
}